<h1>Movies!</h1>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<ul>
  
</ul>

<!-- remove spaces between < and % to uncomment too -->
<!-- <ul>
  < % if @movies %>
    < % @movies.each do |movie| %>
      <li>< %= movie["Title"] %></li>
    < % end %>
  < % end %>
</ul> -->